*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 Body {
    
    font-family:'Saloo tamma 2', sans-serif;
    font-weight:bolder;
    font-size:25px;
    background:#e9bdd1;
    color:#830583;
    line-height: 1.6em;
  }

h1{
    font-size: 40px;
}

p, ul,li{
    line-height:32px; 
    padding: 10px;
    margin:10px;   
}

.encabezado{
    text-align: center;
    background:#830583;  
    border: 2px solid #e9bdd1;
    color: #e9bdd1;
    width: 100%;
    padding: .5em;
    margin:5% auto;
    padding:9px;
    border-radius:9px;
}

.titulo{
    background:#830583; 
    text-align:center;
    color:#e9bdd1;
    font-weight: bold; 
} 

    .bloques{
    display:inline;    
    height: 140px; 
    
    
    text-align:left;
    margin:20px;
    padding: 20px;
}

 

   
    